<a href="https://colab.research.google.com/github/ahmadyadak/SHAI-assignment/blob/main/Copy_of_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
ds_salaries = pd.read_csv('ds_salaries.csv')
ds_salaries.head(20)

,un,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
5,5,2020,EN,FT,Data Analyst,72000,USD,72000,US,100,US,L
6,6,2020,SE,FT,Lead Data Scientist,190000,USD,190000,US,100,US,S
7,7,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
8,8,2020,MI,FT,Business Data Analyst,135000,USD,135000,US,100,US,L
9,9,2020,SE,FT,Lead Data Engineer,125000,USD,125000,NZ,50,NZ,S
10,10,2020,EN,FT,Data Scientist,45000,EUR,51321,FR,0,FR,S
11,11,2020,MI,FT,Data Scientist,3000000,INR,40481,IN,0,IN,L
12,12,2020,EN,FT,Data Scientist,35000,EUR,39916,FR,0,FR,M
13,13,2020,MI,FT,Lead Data Analyst,87000,USD,87000,US,100,US,L
14,14,2020,MI,FT,Data Analyst,85000,USD,85000,US,100,US,L
15,15,2020,MI,FT,Data Analyst,8000,USD,8000,PK,50,PK,L
16,16,2020,EN,FT,Data Engineer,4450000,JPY,41689,JP,100,JP,S
17,17,2020,SE,FT,Big Data Engineer,100000,EUR,114047,PL,100,GB,S
18,18,2020,EN,FT,Data Science Consultant,423000,INR,5707,IN,50,IN,M
19,19,2020,MI,FT,Lead Data Engineer,56000,USD,56000,PT,100,US,M

In [ ]:
print(ds_salaries.columns)

Index(['un', 'work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
ds_salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   un                  607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [ ]:
ds_salaries.describe()

               un    work_year        salary  salary_in_usd  remote_ratio
count  607.000000   607.000000  6.070000e+02     607.000000     607.00000
mean   303.000000  2021.405272  3.240001e+05  112297.869852      70.92257
std    175.370085     0.692133  1.544357e+06   70957.259411      40.70913
min      0.000000  2020.000000  4.000000e+03    2859.000000       0.00000
25%    151.500000  2021.000000  7.000000e+04   62726.000000      50.00000
50%    303.000000  2022.000000  1.150000e+05  101570.000000     100.00000
75%    454.500000  2022.000000  1.650000e+05  150000.000000     100.00000
max    606.000000  2022.000000  3.040000e+07  600000.000000     100.00000

In [ ]:
ds_salaries.isnull().sum()

un                    0
work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [ ]:
ds_salaries.duplicated().sum()

0

In [ ]:

ds_salaries.drop_duplicates(inplace=True)

In [ ]:
ds_salaries.duplicated().sum()

0

In [ ]:
company_size_change = ds_salaries['company_size'].replace({'S': 0, 'M': 1, 'L': 2})
# S = 0
# M = 1
# L = 2
ds_salaries['company_size'] = company_size_change
ds_salaries.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,20,1,FT,Data Scientist,79833,0,0,DE,2
1,20,0,FT,Machine Learning Scientist,260000,1,0,JP,0
2,20,0,FT,Big Data Engineer,109024,2,50,GB,1
3,20,1,FT,Product Data Analyst,20000,41,0,HN,0
4,20,0,FT,Machine Learning Engineer,150000,3,50,US,2

In [ ]:
experience_level_change = ds_salaries['experience_level'].replace({'SE': 0, 'MI': 1, 'EN': 2, 'EX': 3})
# SE = 0
# MI = 1
# EN = 2
# EX = 3
ds_salaries['experience_level'] = experience_level_change
ds_salaries.head()

<ipython-input-113-c2e695e11aeb>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  experience_level_change = ds_salaries['experience_level'].replace({'SE': 0, 'MI': 1, 'EN': 2, 'EX': 3})

,un,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,1,FT,Data Scientist,70000,EUR,79833,DE,0,DE,2
1,1,2020,0,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,0
2,2,2020,0,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,1
3,3,2020,1,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,0
4,4,2020,0,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,2

In [ ]:
ds_salaries['work_year'] = ds_salaries['work_year'].replace(2020, 20)
ds_salaries['work_year'] = ds_salaries['work_year'].replace(2021, 21)
ds_salaries.head()

,un,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,20,1,FT,Data Scientist,79833,DE,0,DE,2
1,1,20,0,FT,Machine Learning Scientist,260000,JP,0,JP,0
2,2,20,0,FT,Big Data Engineer,109024,GB,50,GB,1
3,3,20,1,FT,Product Data Analyst,20000,HN,0,HN,0
4,4,20,0,FT,Machine Learning Engineer,150000,US,50,US,2

In [ ]:
#ds_salaries = ds_salaries.drop('salary_currency', axis=1)
#ds_salaries = ds_salaries.drop('salary', axis=1)
ds_salaries = ds_salaries.drop('un', axis=1)

ds_salaries.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,20,1,FT,Data Scientist,79833,DE,0,DE,2
1,20,0,FT,Machine Learning Scientist,260000,JP,0,JP,0
2,20,0,FT,Big Data Engineer,109024,GB,50,GB,1
3,20,1,FT,Product Data Analyst,20000,HN,0,HN,0
4,20,0,FT,Machine Learning Engineer,150000,US,50,US,2

In [ ]:

employee_residence_change = ds_salaries['employee_residence'].replace({'DE': 0, 'JP' :1, 'GB': 2, 'US': 3, 'CA': 4, 'IN': 5, 'FR': 6, 'ES': 7, 'GR': 8, 'TR': 9, 'NL': 10, 'BR': 11, 'PT': 12, 'PL': 13, 'IT': 14, 'RU': 15, 'PK': 16, 'AU': 17, 'AE': 18, 'MX': 19, 'CH': 20, 'NG': 21, 'BE': 22, 'SI': 23, 'DK': 24, 'AT': 25, 'HU': 26, 'RO': 27, 'CZ': 28, 'IE': 29, 'VN': 30, 'CL': 31, 'SG': 32, 'CO': 33, 'MY': 34, 'AR': 35, 'UA': 36, 'IR': 37, 'MT': 38, 'KE': 39, 'CN': 40, 'HN': 41, 'DZ': 42, 'MD': 43, 'LU': 44})
# DE = 0
# JP = 1
# GB = 2
ds_salaries['employee_residence'] = employee_residence_change
ds_salaries.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,20,1,FT,Data Scientist,79833,0,0,DE,2
1,20,0,FT,Machine Learning Scientist,260000,1,0,JP,0
2,20,0,FT,Big Data Engineer,109024,2,50,GB,1
3,20,1,FT,Product Data Analyst,20000,41,0,HN,0
4,20,0,FT,Machine Learning Engineer,150000,3,50,US,2

In [ ]:
ds_salaries['employment_type'] = ds_salaries['employment_type'].replace('FT', 0)
ds_salaries.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,20,1,0,Data Scientist,79833,0,0,DE,2
1,20,0,0,Machine Learning Scientist,260000,1,0,JP,0
2,20,0,0,Big Data Engineer,109024,2,50,GB,1
3,20,1,0,Product Data Analyst,20000,41,0,HN,0
4,20,0,0,Machine Learning Engineer,150000,3,50,US,2